
	<div class='center'/>
		<p>MAN PAGES COMMANDS CHEATSHEET</p>
	
			<a href='/cp'>*CP*</a>
			<p></p>
			<a href='/ls'>*LS*</a>
			<p></p>
			<a href='/mkdir'>*MKDIR*</a>
			<p></p>
			<a href='/touch'>*TOUCH*</a>
			<p></p>
			<a href='/mv'>*MV*</a>

		<p> </p>

		<ol>
		<li><a href= '/search'>Search</a>
		</li>

		<li><a href="http://www.google.com" target='_blank'>Google</a>
		</ol>

	</div>