	<!DOCTYPE html>
		<html>
			<head>
				<title>MAN PAGES..</title>
				<link rel='stylesheet' type='text/css' href='/stylesheets/stylesheet.css' />
			</head>

			<div class='center'>
			<body>
				
			</div>

			<div class=''>
				<%= yield %>
			</div>


	
	<footer class="center">
				<a href='/'>Home</a>
		
	</footer>





		</html>
